.container {
  background-color: #FFF;
}

.header {
  background-color: #F9F9FB;
  padding: 50px 24px 30px;
  
}
.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.headerTitle {
  font-weight: 500;
  font-size: 24px;
  color: #1b1b1b;
  margin-bottom: 8px;
}

.headerSubtitle {
  font-weight: 400;
  font-size: 16px;
  color: #979797;
  opacity: .8;
}

.headerTopleft {

}

.headerTopRight {

}

.menuButton {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtonLine {
  background-color: #fb9400;
  height: 2px;
}

.headerBottom {

}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0 24px 0 24px
}